<h1>Create Your Account</h1>
<h2>Signup is easy and only takes a few seconds.</h2>

<form id="form--create" action="/api/users" method="POST" class="form">
  <p class="form__error"></p>
  <label for="firstName" class="form__label">
    <p class="form__label-descriptor">First Name</p>
    <input name="firstName" type="text" class="form__input" placeholder="John" />
  </label>
  <label for="lastName" class="form__label">
    <p class="form__label-descriptor">Last Name</p>
    <input name="lastName" type="text" class="form__input" placeholder="Smith" />
  </label>
  <label for="phone" class="form__label">
    <p class="form__label-descriptor">Phone Number</p>
    <input name="phone" type="number" class="form__input" placeholder="65883947" />
  </label>
  <label for="password" class="form__label">
    <p class="form__label-descriptor">Choose a Password</p>
    <input name="password" type="password" class="form__input" placeholder="Make a good password!" />
  </label>
  <label for="tosAgreement" class="form__label">
    <p class="form__label-descriptor">Do you agree to the terms and conditions?</p>
    <input name="tosAgreement" type="checkbox" class="form__input" value="agree" />
  </label>
  <button type="submit" class="form__btn">Sign Up</button>
</form>
