<h1 class="main__title">Dashboard</h1>
<h2 class="main__subtitle">You may create up to 5 checks</h2>

<table class="checks">
  <tr class="checks__row">
    <th class="checks__heading">Method</th>
    <th class="checks__heading">Protocol</th>
    <th class="checks__heading">URL</th>
    <th class="checks__heading">State</th>
    <th class="checks__heading">Details</th>
  </tr>
  <tr class="checks__no-checks">
    <td class="checks__data" colspan="5">You have no checks, please create one!</td>
  </tr>
</table>

<a href="/checks/create" class="main__btn main__btn--create-check">Create a Check</a>
