<h1>Uptime Monitoring</h1>
<h2>Made Simple!</h2>

<article class="hero">
  <p class="hero__description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro suscipit iusto quas blanditiis recusandae ipsam
    minima repudiandae nostrum est asperiores dolorem sunt expedita vitae perspiciatis architecto provident hic cum
    quibusdam, quo aut minus tempore ipsum itaque adipisci! Quo molestiae, error corrupti, harum perferendis nesciunt
    incidunt numquam ullam doloribus earum minima!
  </p>
  <section class="hero__buttons">
    <a href="account/create" class="hero__button hero__button--get-started">Get Started</a>
    <a href="session/create" class="hero__button hero__button--login">Login</a>
  </section>
</article>
